/* Style premium */

body {

background:
linear-gradient(
135deg,
#fffaf0,
#f7e4c5
);

}


/* Informations */

.infos {

margin:20px 0;

font-size:17px;

color:#777;

line-height:1.8;

}


/* Boutons */

.btn {

margin:8px;

box-shadow:
0 8px 20px rgba(197,155,95,.35);

}


.map {

background:#8c6b35;

}



/* Pétales */

.petales span {

position:fixed;

top:-50px;

font-size:25px;

animation:chute 8s linear infinite;

opacity:.8;

}


.petales span:nth-child(1){
left:10%;
animation-delay:0s;
}

.petales span:nth-child(2){
left:25%;
animation-delay:2s;
}

.petales span:nth-child(3){
left:45%;
animation-delay:4s;
}

.petales span:nth-child(4){
left:65%;
animation-delay:1s;
}

.petales span:nth-child(5){
left:80%;
animation-delay:3s;
}

.petales span:nth-child(6){
left:90%;
animation-delay:5s;
}



@keyframes chute {


0%{

transform:
translateY(-100px)
rotate(0deg);

}


100%{

transform:
translateY(110vh)
rotate(360deg);

}


}



/* Effet ouverture plus chic */

.enveloppe.open {

transform:
translateY(-20px)
scale(1.05);

}


.enveloppe.open .invitation {

filter:
drop-shadow(0 10px 20px rgba(0,0,0,.2));

}
